name: Deploy SISI project

on:
  push:
    branches:
        - master

jobs:
  synth:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4 

      - name: Setup nodejs
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies  
        run: |
          npm install 
          npm install -g aws-cdk   
            
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }} 
          aws-region: eu-central-1

      - name: Synthesize cloud formation template
        run: |  
         cdk synth  
         echo "synth sucessful"
      - name: Deploy   stack
        run: |
          cdk deploy --require-approval never
          echo "deploy sucessful"
      - name: Test stack
        run: |
          npm run test
          echo "test sucessful"

